# Операционные системы
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Среды разработки
.idea/
.vscode/
*.swp
*.swo

# Виртуальные окружения
env/
venv/
ENV/
.venv/
.Python
*.env

# Логи
*.log
logs/

# Разное
*.sqlite3
*.db
*.bak
*.old
